.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name masa
      %ul.top-items__icons
        %li.top-items__icon
          = link_to "#" do
            = icon('fas', 'edit')
        %li.top-items__icon  
          = link_to "#" do
            = icon('fas', 'cog')
  .side-bar__group-list
    %ul.group
      %li.group__name techcamp
      %li.group__message まだメッセージがありません
    %ul.group
      %li.group__name test
      %li.group__message まだメッセージがありません